<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.igniva.indiecore">


    <!--IN APP BILLING PERMISSIONS. -->
    <uses-permission android:name="com.android.vending.BILLING" />
    <!--GENERAL PERMISSIONS. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <!-- For android.media.audiofx.Visualizer -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!--MAP PERMISSIONS-->
    <permission
        android:name="com.igniva.indiecore.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.igniva.indiecore.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--GCM PERMISSIONS   -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission
        android:name="com.igniva.indiecore.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.igniva.indiecore.permission.C2D_MESSAGE" />
    <!--GCM PERMISSIONS END -->

    <application
        android:largeHeap="true"
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:screenOrientation="portrait"
            android:name=".ui.activities.SplashActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:theme="@style/AppTheme"
            android:name=".ui.activities.ReceiveActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/contact_number">

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

        </activity>

        <activity
            android:theme="@style/AppTheme"
            android:name=".ui.activities.EnterMobileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/contact_number"/>

        <activity
            android:theme="@style/AppTheme"
            android:name=".ui.activities.OtpVerificationActivity"
            android:screenOrientation="portrait"
            android:label="@string/contact_number"/>

        <activity
            android:theme="@style/AppTheme"
            android:name=".ui.activities.SyncContactsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/contacts_sync"/>
        <activity
            android:theme="@style/AppTheme"
            android:name=".ui.activities.CreateProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/create_profile"/>

        <activity
            android:theme="@style/AppTheme"
            android:name=".ui.activities.BadgesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/badges"/>

        <activity
            android:theme="@style/AppTheme"
            android:name=".ui.activities.BadgeDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/badges"/>

        <activity
            android:theme="@style/AppTheme"
            android:name=".ui.activities.MyBadgesActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:label="@string/badges"/>

        <activity
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"
            android:name=".ui.activities.DashBoardActivity"
            android:screenOrientation="portrait"
            android:label="@string/badges"/>


        <activity
            android:theme="@style/AppTheme"
            android:name=".ui.activities.InviteContactActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/badges"/>

        <activity
            android:theme="@style/AppTheme"
            android:name=".ui.activities.BusinessDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:label="Business Name"/>


        <activity
            android:theme="@style/AppTheme"
            android:name=".ui.activities.RecommendBadgeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/reccomend_badge"/>



        <activity
            android:theme="@style/AppTheme"
            android:name=".ui.activities.CreatePostActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/create_post_activity"/>

        <activity
            android:theme="@style/AppTheme"
            android:name=".ui.activities.PremiumBadgesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/premium_badges"/>



        <activity
            android:theme="@style/AppTheme"
            android:name=".ui.activities.CommentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/comment_activity"/>

        <activity
            android:theme="@style/AppTheme"
            android:name=".ui.activities.CommentsReplyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/comment_reply_activity"/>


        <activity
            android:theme="@style/AppTheme"
            android:name=".ui.activities.MyProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/my_profile"/>



        <activity
            android:theme="@style/AppTheme"
            android:name=".ui.activities.UserProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/my_profile"/>



        <activity
            android:theme="@style/AppTheme"
            android:name=".ui.activities.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/chat"/>


        <activity
            android:theme="@style/AppTheme"
            android:name=".ui.activities.BoardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/board_activity"/>

        <activity
            android:theme="@style/AppTheme"
            android:name=".ui.activities.ViewMediaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/view_media_activity"/>


        <activity
            android:theme="@style/AppTheme"
            android:name=".ui.activities.NewsFeedActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/news_feed_activity"/>


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- GCM -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.igniva.indiecore" />
                <!--TO SUPPORT PRE-KITKAT DEVICES  -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.igniva.indiecore.utils.gcm.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.igniva.indiecore.utils.gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name="com.igniva.indiecore.utils.gcm.RegistrationIntentService"
            android:exported="false">
        </service>
        <!-- GCM END-->

        <!-- SMS Receiver -->
        <receiver android:name=".utils.sms.SmsReceiver">
            <intent-filter android:priority="99999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>


        <!--<uses-library android:required="true" android:name="com.google.android.maps" />-->

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCTS1JY0GjRdbsIjzoq2YMjlSTqObwBY3Q" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- Crashlytics -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="7f13cc184549fdf0b47c81233930bfdccce27582" />

        <service
            android:name=".controller.services.CustomMeteorService"
            android:enabled="true" />



        <receiver
            android:name=".controller.receivers.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>